.button{
    padding: 8px;
}

.container{
    padding: 0;
}

.row{
    margin: 0;
}
.food-name{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.food-image{
    margin-top: 15px;
}

.food-image-img{
    height: 30vh;
}

.like-buttons{
    margin-top: 10px;
}

#slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.question-title{
    font-size: 1.2em;
    font-weight: bold;
    padding: 4px;
    margin-top: 18px;
    margin-bottom: 6px;
}

.question-title-like{
    margin-top: 24px;
}

.margin{
    margin-top: 20px;
    margin-bottom: 20px; 
}

.go-next{
    margin-top: 10px;
}

.default{
    opacity: 0.6;
}

.highlight{
    opacity: 1;
}

.title-rate{
    font-size: 1.5em;
    margin-top: 12px;
    font-weight: bold;
}
