<div class="container">

    <div class="row">
        <div class="col-xs-12 title-rate" align="center">Rate your experience!</div>
    </div>
    <div class="row">
        <div class="col-xs-12 food-image text-center">
            <img class="img-thumbnail img-responsive food-image-img" src="{{foodImageSource}}" alt="{{imageName}}">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 food-name text-center">
            {{foodName}}
        </div>
    </div>

    <div class="row question-title">
        <div class="col-xs-12" align="center">
            What portion of the meal have you consumed?
        </div>
    </div>


    <div class="row">
        <div class="col-xs-2">
            No waste!
        </div>
        <div class="col-xs-2 col-xs-offset-8">
            Food waste!
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 like-buttons">
            <div id="slidecontainer">
                <input type="range" #ref (change)="changeWaste(ref.value)" [(ngModel)]="name" min="1" max="6" value="3" class="slider" id="myRange">
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-xs-12 question-title question-title-like" align="center">
                Did you like it?
            </div>
        </div>

    <div class="row like-buttons">
        <div class="col-xs-4 col-xs-offset-1 btn btn-success" 
            (click)="goNext(1)">
            I like it
        </div>
        <div class="col-xs-4 col-xs-offset-2 btn btn-danger" 
            (click)="goNext(1)">
            I don't like it
        </div>
    </div>

    <div class="row ">
        <div class="col-xs-10 col-xs-offset-1 btn btn-primary go-next" (click)="goNext(2)">
            I did not take this!
        </div>
    </div>

</div>