<mat-sidenav-container style="background-color: white">
        <mat-sidenav #sidenav class="example-sidenav bg-menu-color">
          <ul class="side-list">
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['/user']">
            Profile</li>
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['/feedback', 0]">
            Rate your experience!</li>
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['menu-evaluation']">
            Rate your daily menu!</li>
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['']">
            Add new user!</li>
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['scoreboard']">
            Scoreboard</li>
            <li class="side-list-item" (click) = "sidenav.close()"
            [routerLink]="['help']">
            Help</li>
          </ul>
      
        </mat-sidenav>
        <div class="container">
      
          <mat-toolbar class = "toolbar-border" color="primary">
            <mat-toolbar-row class = "toolbar-border">
              <div role="button" aria-label="open sidebar" tabindex="0" class="menu-icon" type="button" mat-button (click)="sidenav.open()">☰
              </div>
              <span class="example-spacer"></span>
              <img class="img-responsive logo" src="../assets/iconCropped.jpg" alt="Unwasted">
            </mat-toolbar-row>
          </mat-toolbar>
      
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
