

    .profile-top{
        background-color: #e0e2e5;
    }

    .username{
        color: black;
    }

   .outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

    .shrink{
        margin: 4px;
        padding: 4px;
    }
   
   div span {
        font-weight: 200;
   }
   
   h1{
        font-weight: 200;
   }
   
   .container{
       height: 100vh;
   }
   .user_form{
       width: 100%;
       height: 100%;
       margin: auto;
       padding: auto;
   }
   .login_box{      
       width: 100%;
       height: 100%;
       margin: auto;
       padding: auto;
   }
   
   .score-label-container{
        font-size: 1.4em;
   }

   .score-row{
       background-color: #50c758
   }

   .score-text{
       font-weight: bold;
   }
   .overview-lunch{
       background-color: #d89b69;
   }

   .overview-dinner{
       background-color: #a4c430;
   }
   @media (max-width: 767px) {
       
   }
   
   .image-circle{
       border-radius: 50%;
       width: 175px;
       height: 175px;
       border: 4px solid #7b1fa2;
       margin: 10px;
   }
   

   .line{
       border-bottom : 4px solid #7b1fa2;
   }
   
   .score-button{
       position: fixed;
       bottom: 10px;
       padding: 10px;
       color: white;
       font-size: 1.4em;
       background-color: rgb(233, 91, 3)
   }

   .demo-button{
    position: fixed;
    bottom: 70px;
    padding: 10px;
    color: white;
    font-size: 1.4em;
    background-color: rgb(75, 3, 3);
       
   }
   
   
