      *{
       font-family: 'Raleway', sans-serif;
       
   }
   
   
   div h3 span{
        color : #FFF;
   }
   
   div span {
        font-weight: 200;
   }
   
   h1{
        font-weight: 200;
   }
   
   .container{
       padding: 0;
       height: 100vh;
   }
   .user_form{
       width: 100%;
       height: 100%;
       margin: auto;
       padding: auto;
   }
   .login_box{      
       width: 100%;
       height: 100%;
       margin: auto;
       padding: auto;
   }
   
   @media (max-width: 767px) {
       
   }
   
   .image-circle{
       border-radius: 50%;
       width: 175px;
       height: 175px;
       border: 4px solid #FFF;
       margin: 10px;
   }
   
   .follow{
       height: 80px;
       cursor:pointer;
   }
   
   .follow:hover {
       background-color:#F22F26;
       height: 80px;
       cursor:pointer;
   }
   
   .login_control{
       background-color:#FFF;
       padding:10px;
       
   }
   
   .control {
       color:#000;
       margin:10px;
   }
   
   .label {
       
       font-size: 18px;
       font-weight: 500;
   }
   
   .form-control{
       color: #000000 !important;
       font-size: 25px;
       border: none;
       padding: 25px;
       padding-left: 10px;
       border-bottom: 1px solid #CCC;
       margin-bottom: 10px;
       outline: none;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
       box-shadow: none !important;
   }
   
   .form-control:focus{
       border-radius: 0px;
       border-bottom: 1px solid #FC563B;
       margin-bottom: 10px;
       outline: none;
       -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
       box-shadow: none !important;
   }
   .btn-orange{
       background-color: #FC563B;
       border-radius: 0px;
       margin: 5px;
       padding: 5px;
       width: 150px;
       font-size: 20px;
       font-weight: inherit;
   }
   
   .btn-orange:hover {
       background-color: #F22F26;
       border-radius: 0px;
       margin: 5px;
       padding: 5px;
       width: 150px;
       font-size: 20px;
       font-weight: inherit;
       color:#FFF !important;
   }
   
   .line{
       border-bottom : 1px solid #ffffff;
   }
   
   
   .outter{
       padding: 0px;
       border: 1px solid rgba(255, 255, 255, 0.29);
       border-radius: 50%;
       width: 200px;
       height: 200px;
   }
   
   .profile-usermenu {
    margin-top: 30px;
  }