
  <div class="container">

    <div class="row profile-top">
      <div class="col-md-12 col-xs-12" align="center">
        <div class="outter">
          <img src="../../assets/minix.jpg" class="image-circle" />
        </div>
        <h1 class="username shrink font-l">{{userProfile.username}}</h1>
      </div>
    </div>

    <div class="row score-label-container" align="center">
      <div class="col-xs-12 score-row">
        <span class="score-text">
          Score
        </span>
        <br>
        <span class="score-label font-m">
        {{score}}
        </span>
      </div>
    </div>

    <div class="row score-label-container" align="center">
      <div class="col-xs-6 overview-lunch">
        <span class="score-text">
          Lunch
        </span>
        <br>
        <span class="score-label font-m">
          {{lunch}}
        </span>
      </div>

      <div class="col-xs-6 overview-dinner">
        <span class="score-text">
          Dinner
        </span>
        <br>
        <span class="score-label font-m">
          {{dinner}}
        </span>
      </div>
    </div>

    <div class="row">
        <div class="col-xs-12 demo-button" align="center"
        (click)="demo()">
          DEMO
        </div>
      </div>

    <div class="row">
      <div class="col-xs-12 score-button" align="center"
      [routerLink]="['/scoreboard']">
        Scoreboard
      </div>
    </div>

    
  </div>
