<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onRegisterFormSubmit(f)" #f="ngForm">
        <div id="user-data">
          <!--Username-->
          <mat-form-field class="example-full-width center">
            <input matInput placeholder="Username" value="Username" name="Username">
          </mat-form-field>
          <!--E-mail-->
          <mat-form-field class="example-full-width center">
            <input matInput placeholder="E-mail" value="E-Mail">
          </mat-form-field>
          <!--Gender-->
          <mat-form-field class="center">
            <mat-select placeholder="Gender">
              <mat-option *ngFor="let gender of genders" value="{{gender}}">
                {{ gender }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Allergy types-->
        <mat-form-field class="center">
          <mat-select placeholder="Allergies" [formControl]="allergies" multiple>
            <mat-option *ngFor="let allergy of allergyList" [value]="allergy">{{allergy}}</mat-option>
          </mat-select>
        </mat-form-field>
        <!--<button class="btn btn-primary center" type="submit">Submit</button>-->
        <button mat-raised-button type="submit">Submit</button>        
      </form>
    </div>
  </div>
</div>